In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import requests
from bs4 import BeautifulSoup
from collections import OrderedDict
import pandas
import time

In [2]:
'''
Get_MainList - func() 

Scrapes the [start_url] using the Selenium WebDriver [chrome_driver] for the list of movie names and associated 
data and parameters like 'Release Data',etc. as well as Urls to each movie's details.
The Urls will be used in subsequent sections to scrape for Metrics and Cast-Crew related information.

'''
def Get_MainList(chrome_driver,start_url):

    chrome_driver.get(start_url)
    df_mn = pandas.DataFrame()
    print(start_url)
    main_div = chrome_driver.find_element_by_id('main')
    tabular_data = main_div.find_element_by_tag_name('table')
    table_rows = tabular_data.find_elements_by_tag_name('tr')

    for each_row in table_rows:
        text_data = each_row.find_elements_by_class_name('data')
        link_data = each_row.find_elements_by_tag_name('a')
        lst_row = []
        for t_d in text_data:
            lst_row.append(t_d.text)
        for l_d in link_data:
            lst_row.append(l_d.text)
            lst_row.append(l_d.get_attribute('href'))
        #print(lst_row)
    
        if(len(lst_row) > 0):
            pd_row = pandas.Series(lst_row)
            #print(pd_row)
            df_mn = df_mn.append(pd_row,ignore_index=True)

    return df_mn

In [12]:
'''
Place from where the actual work begins....
'''

origin_url = 'https://www.the-numbers.com/movie/budgets/all'
df_main = pandas.DataFrame()

chrome_driver = webdriver.Chrome(ChromeDriverManager().install())

for pg in range(1,501,100):
    
    pg_str = origin_url
    if(pg > 100)
        pg_str = '{1}/{0}'.format(pg,origin_url)

    # usage of the Get_MainList method to generate the list of movies
    df_m = Get_MainList(chrome_driver, pg_str)
    df_main = pandas.concat([df_main.reset_index(drop=True),df_m.reset_index(drop=True)],axis=0)

chrome_driver.quit()

Looking for [chromedriver 81.0.4044.69 win32] driver in cache
File found in cache by path [C:\Users\OWNER\.wdm\drivers\chromedriver\81.0.4044.69\win32\chromedriver.exe]
https://www.the-numbers.com/movie/budgets/all/101
https://www.the-numbers.com/movie/budgets/all/201
https://www.the-numbers.com/movie/budgets/all/301
https://www.the-numbers.com/movie/budgets/all/401

In [13]:
df_main

,0,1,2,3,4,5,6,7
0,101,"$178,000,000","$220,159,104","$787,456,552","Jul 16, 2018",https://www.the-numbers.com/box-office-chart/d...,Mission: Impossibleâ€”Fallout,https://www.the-numbers.com/movie/Mission-Impo...
1,102,"$178,000,000","$155,442,489","$542,537,546","May 18, 2016",https://www.the-numbers.com/box-office-chart/d...,X-Men: Apocalypse,https://www.the-numbers.com/movie/X-Men-Apocal...
2,103,"$178,000,000","$145,443,742","$529,530,715","Aug 9, 2018",https://www.the-numbers.com/box-office-chart/d...,The Meg,https://www.the-numbers.com/movie/Meg-The#tab=...
3,104,"$178,000,000","$100,206,256","$370,541,256","May 28, 2014",https://www.the-numbers.com/box-office-chart/d...,Edge of Tomorrow,https://www.the-numbers.com/movie/Edge-of-Tomo...
4,105,"$175,000,000","$426,829,839","$1,129,729,839","Mar 6, 2019",https://www.the-numbers.com/box-office-chart/d...,Captain Marvel,https://www.the-numbers.com/movie/Captain-Marv...
...,...,...,...,...,...,...,...,...
95,496,"$90,000,000","$58,250,803","$273,477,501","Mar 6, 2018",https://www.the-numbers.com/box-office-chart/d...,Tomb Raider,https://www.the-numbers.com/movie/Tomb-Raider-...
96,497,"$90,000,000","$58,220,776","$87,420,776","Dec 17, 1999",https://www.the-numbers.com/box-office-chart/d...,Bicentennial Man,https://www.the-numbers.com/movie/Bicentennial...
97,498,"$90,000,000","$51,877,963","$203,653,524","Jul 7, 2004",https://www.the-numbers.com/box-office-chart/d...,King Arthur,https://www.the-numbers.com/movie/King-Arthur-...
98,499,"$90,000,000","$47,546,796","$120,100,000","Apr 25, 1997",https://www.the-numbers.com/box-office-chart/d...,Volcano,https://www.the-numbers.com/movie/Volcano#tab=...
99,500,"$90,000,000","$42,885,593","$140,900,000","Mar 26, 1997",https://www.the-numbers.com/box-office-chart/d...,The Devil's Own,https://www.the-numbers.com/movie/Devils-Own-T...

In [14]:
#df_main.to_excel('D:\\Selenium_df_main_400.xlsx',index=False)

In [9]:
chrome_driver.quit()

In [15]:
def GetCast_Numbers(chrome_driver,tab_url):
    
    # url format should be as: 'https://www.the-numbers.com/movie/Avengers-Endgame-(2019)?#tab=cast-and-crew'
    chrome_driver.get(tab_url) 
    # Movie Name Eg. Avengers-Endgame-(2019)
    time.sleep(5)
    cAstaNdcRew = chrome_driver.find_element_by_id('cast-and-crew')
    # cAstAndcRew is the massive 'div' that holds all other casting 'div's.
    # The inner 'div's are for 1. Main Cast 2. Supporting Cast 3. Cameos 4. Production and Technical assistance amongst others          we are not very interested in.
    # Within the specific cast 'div's there are tables prefaced with headings. These tables are a list of actors
    # Each actor name is in a 'span' in an 'anchor' tag in a 'td'

    dctNames = {}
    try:
        actorTypes = cAstaNdcRew.find_elements_by_class_name('cast_new')
        grpNo = 1
        for actorType in actorTypes:# Each of Main Cast, Cameo, Supporting etc.

        # Initialize a list to hold the actors in this section
            actorNames = []
        # Section Name / Actor Type
        #actorType_Name = (actorType.find_elements_by_tag_name('h1'))[0].text
        #actorType_Name = actorType_Name.replace(' ','_')
            actorType_Name = "Artist_Group_" + str(grpNo)
        # Get all values from anchor tags in the section
            actor_Names = actorType.find_elements_by_tag_name('a')
       
            if len(actor_Names) > 0:
                for actor_Name in actor_Names:
                 # print('a: ',actor_Name.text) # Crude Debugging
                    actorNames.append(actor_Name.text)
        
            dctNames[actorType_Name] = actorNames
            grpNo += 1
    except Exception:
        print("Exception caught")
    finally:
        df = pandas.DataFrame.from_dict(dctNames,orient='index')  
        return df

In [16]:
def GetCastMetrics(dfc):
    
    dfnew = dfc.head(1)
    for i in range(len(dfc.columns)):
        dfnew[dfc.columns[i] + '_Count'] = dfc[dfc.columns[i]].count()

    return dfnew

In [17]:
chrome_driver = webdriver.Chrome(ChromeDriverManager().install())

Looking for [chromedriver 81.0.4044.69 win32] driver in cache
File found in cache by path [C:\Users\OWNER\.wdm\drivers\chromedriver\81.0.4044.69\win32\chromedriver.exe]

In [19]:
df_main.iloc[100:,7]

100    https://www.the-numbers.com/movie/Beowulf#tab=...
101    https://www.the-numbers.com/movie/Dark-Shadows...
102    https://www.the-numbers.com/movie/White-House-...
103    https://www.the-numbers.com/movie/Wolf-Man-The...
104    https://www.the-numbers.com/movie/Great-Wall-T...
                             ...
95     https://www.the-numbers.com/movie/Tomb-Raider-...
96     https://www.the-numbers.com/movie/Bicentennial...
97     https://www.the-numbers.com/movie/King-Arthur-...
98     https://www.the-numbers.com/movie/Volcano#tab=...
99     https://www.the-numbers.com/movie/Devils-Own-T...
Name: 7, Length: 300, dtype: object

In [20]:
 
dfSuperCast = pandas.DataFrame()
lstCritical = []
for i in df_main.iloc[:,7]:
    c=i.replace('#tab=summary','#tab=cast-and-crew')
    print(i)
    if(i not in lstCritical):
        dfx = GetCast_Numbers(chrome_driver,c)
        dfn = GetCastMetrics(dfx.T)
        dfSuperCast = pandas.concat([dfSuperCast,dfn],axis=0)
    else:
        dfSuperCast = dfSuperCast.append(pandas.Series(['NA' for fx in range(len(dfSuperCast.columns))],index=dfSuperCast.columns),ignore_index=True)

https://www.the-numbers.com/movie/Beowulf#tab=summary
https://www.the-numbers.com/movie/Dark-Shadows#tab=summary
https://www.the-numbers.com/movie/White-House-Down#tab=summary
https://www.the-numbers.com/movie/Wolf-Man-The#tab=summary
https://www.the-numbers.com/movie/Great-Wall-The#tab=summary
https://www.the-numbers.com/movie/Pan-(2015)#tab=summary
https://www.the-numbers.com/movie/Mars-Needs-Moms#tab=summary
https://www.the-numbers.com/movie/Moonfall#tab=summary
https://www.the-numbers.com/movie/Flushed-Away#tab=summary
https://www.the-numbers.com/movie/Madagascar-3#tab=summary
https://www.the-numbers.com/movie/Mission-Impossible-Ghost-Protocol#tab=summary
https://www.the-numbers.com/movie/How-to-Train-Your-Dragon-2-(2014)#tab=summary
https://www.the-numbers.com/movie/Tarzan#tab=summary
https://www.the-numbers.com/movie/Mr-Peabody-and-Sherman#tab=summary
https://www.the-numbers.com/movie/Rise-of-the-Guardians#tab=summary
https://www.the-numbers.com/movie/Sahara#tab=summary
https://www.the-numbers.com/movie/Ghostbusters-(2016)#tab=summary
https://www.the-numbers.com/movie/Die-Another-Day#tab=summary
https://www.the-numbers.com/movie/Pirates-of-the-Caribbean-The-Curse-of-the-Black-Pearl#tab=summary
https://www.the-numbers.com/movie/Star-Trek#tab=summary
https://www.the-numbers.com/movie/Armageddon#tab=summary
https://www.the-numbers.com/movie/Men-in-Black-2#tab=summary
https://www.the-numbers.com/movie/Captain-America-The-First-Avenger#tab=summary
https://www.the-numbers.com/movie/Kung-Fu-Panda-3#tab=summary
https://www.the-numbers.com/movie/Lethal-Weapon-4#tab=summary
https://www.the-numbers.com/movie/GI-Joe-Retaliation#tab=summary
https://www.the-numbers.com/movie/Last-Samurai-The#tab=summary
https://www.the-numbers.com/movie/Fun-With-Dick-And-Jane#tab=summary
https://www.the-numbers.com/movie/Exodus-Gods-and-Kings#tab=summary
https://www.the-numbers.com/movie/BFG-The-(2016)#tab=summary
https://www.the-numbers.com/movie/Gemini-Man-(2019)#tab=summary
https://www.the-numbers.com/movie/Gods-of-Egypt#tab=summary
https://www.the-numbers.com/movie/Top-Gun-Maverick-(2020)#tab=summary
https://www.the-numbers.com/movie/Spider-Man#tab=summary
https://www.the-numbers.com/movie/Watchmen#tab=summary
https://www.the-numbers.com/movie/Stealth#tab=summary
https://www.the-numbers.com/movie/Incredible-Hulk-The#tab=summary
https://www.the-numbers.com/movie/Hulk#tab=summary
https://www.the-numbers.com/movie/Final-Fantasy-The-Spirits-Within#tab=summary
https://www.the-numbers.com/movie/Twilight-Saga-Breaking-Dawn-Part-2-The#tab=summary
https://www.the-numbers.com/movie/Croods-The#tab=summary
https://www.the-numbers.com/movie/Revenant-The-(2015)#tab=summary
https://www.the-numbers.com/movie/World-is-Not-Enough-The#tab=summary
https://www.the-numbers.com/movie/Rango#tab=summary
https://www.the-numbers.com/movie/Master-and-Commander-The-Far-Side-of-the-World#tab=summary
https://www.the-numbers.com/movie/Turbo#tab=summary
https://www.the-numbers.com/movie/Teenage-Mutant-Ninja-Turtles-Out-of-the-Shadows#tab=summary
https://www.the-numbers.com/movie/Happy-Feet-2#tab=summary
https://www.the-numbers.com/movie/Miami-Vice#tab=summary
https://www.the-numbers.com/movie/Nutcracker-and-the-Four-Realms-The-(2018)#tab=summary
https://www.the-numbers.com/movie/War-of-the-Worlds#tab=summary
https://www.the-numbers.com/movie/Penguins-of-Madagascar#tab=summary
https://www.the-numbers.com/movie/Hunger-Games-Catching-Fire-The#tab=summary
https://www.the-numbers.com/movie/Harry-Potter-and-the-Prisoner-of-Azkaban#tab=summary
https://www.the-numbers.com/movie/Bourne-Ultimatum-The#tab=summary
https://www.the-numbers.com/movie/Ant-Man-and-the-Wasp#tab=summary
https://www.the-numbers.com/movie/Kung-Fu-Panda#tab=summary
https://www.the-numbers.com/movie/Ant-Man#tab=summary
https://www.the-numbers.com/movie/Home-(2015)#tab=summary
https://www.the-numbers.com/movie/Mary-Poppins-Returns-(2018)#tab=summary
https://www.the-numbers.com/movie/Puss-in-Boots#tab=summary
https://www.the-numbers.com/movie/Megamind#tab=summary
https://www.the-numbers.com/movie/Bad-Boys-II#tab=summary
https://www.the-numbers.com/movie/Rio-2#tab=summary
https://www.the-numbers.com/movie/Salt#tab=summary
https://www.the-numbers.com/movie/Noah#tab=summary
https://www.the-numbers.com/movie/Adventures-of-Tintin-The#tab=summary
https://www.the-numbers.com/movie/After-Earth#tab=summary
https://www.the-numbers.com/movie/Australia#tab=summary
https://www.the-numbers.com/movie/RIPD#tab=summary
https://www.the-numbers.com/movie/How-to-Train-Your-Dragon-The-Hidden-World-(2019)#tab=summary
https://www.the-numbers.com/movie/Twilight-Saga-Breaking-Dawn-Part-1-The#tab=summary
https://www.the-numbers.com/movie/Dinosaur#tab=summary
https://www.the-numbers.com/movie/Logan-(2017)#tab=summary
https://www.the-numbers.com/movie/Night-at-the-Museum-Secret-of-the-Tomb#tab=summary
https://www.the-numbers.com/movie/Harry-Potter-and-the-Deathly-Hallows-Part-II#tab=summary
https://www.the-numbers.com/movie/Hunger-Games-Mockingjay-Part-1-The#tab=summary
https://www.the-numbers.com/movie/Harry-Potter-and-the-Sorcerers-Stone#tab=summary
https://www.the-numbers.com/movie/Jumanji-The-Next-Level#tab=summary
https://www.the-numbers.com/movie/Harry-Potter-and-the-Deathly-Hallows-Part-I#tab=summary
https://www.the-numbers.com/movie/Da-Vinci-Code-The#tab=summary
https://www.the-numbers.com/movie/X-Men-2-(2003)#tab=summary
https://www.the-numbers.com/movie/Fast-Five#tab=summary
https://www.the-numbers.com/movie/Teenage-Mutant-Ninja-Turtles-(2014)#tab=summary
https://www.the-numbers.com/movie/Sherlock-Holmes-A-Game-of-Shadows#tab=summary
https://www.the-numbers.com/movie/Day-After-Tomorrow-The#tab=summary
https://www.the-numbers.com/movie/Boss-Baby-The#tab=summary
https://www.the-numbers.com/movie/Clash-of-the-Titans-(2010)#tab=summary
https://www.the-numbers.com/movie/Trolls#tab=summary
https://www.the-numbers.com/movie/Godzilla#tab=summary
https://www.the-numbers.com/movie/Prometheus#tab=summary
https://www.the-numbers.com/movie/Bourne-Legacy-The#tab=summary
https://www.the-numbers.com/movie/Batman-and-Robin#tab=summary
https://www.the-numbers.com/movie/Skyscraper#tab=summary
https://www.the-numbers.com/movie/Call-of-the-Wild-The-(2020)#tab=summary
https://www.the-numbers.com/movie/Total-Recall-(Remake)#tab=summary
https://www.the-numbers.com/movie/Assassins-Creed#tab=summary
https://www.the-numbers.com/movie/Monster-Trucks#tab=summary
https://www.the-numbers.com/movie/13th-Warrior-The#tab=summary
https://www.the-numbers.com/movie/How-the-Grinch-Stole-Christmas-(2000)#tab=summary
https://www.the-numbers.com/movie/Mission-Impossible-2#tab=summary
https://www.the-numbers.com/movie/Perfect-Storm-The#tab=summary
https://www.the-numbers.com/movie/Jason-Bourne#tab=summary
https://www.the-numbers.com/movie/Fantastic-Four-Rise-of-the-Silver-Surfer#tab=summary
https://www.the-numbers.com/movie/Life-of-Pi#tab=summary
https://www.the-numbers.com/movie/Ghost-Rider#tab=summary
https://www.the-numbers.com/movie/Rampage-(2018)#tab=summary
https://www.the-numbers.com/movie/Charlies-Angels-Full-Throttle#tab=summary
https://www.the-numbers.com/movie/Elysium#tab=summary
https://www.the-numbers.com/movie/Oblivion-(2013)#tab=summary
https://www.the-numbers.com/movie/Power-Rangers-(2017)#tab=summary
https://www.the-numbers.com/movie/Stuart-Little-2#tab=summary
https://www.the-numbers.com/movie/RoboCop-(2013)#tab=summary
https://www.the-numbers.com/movie/Chronicles-of-Riddick-The#tab=summary
https://www.the-numbers.com/movie/Fantastic-Four-The-(2015)#tab=summary
https://www.the-numbers.com/movie/Speed-Racer#tab=summary
https://www.the-numbers.com/movie/Island-The-(2005)#tab=summary
https://www.the-numbers.com/movie/How-Do-You-Know#tab=summary
https://www.the-numbers.com/movie/Knight-and-Day#tab=summary
https://www.the-numbers.com/movie/Venom-(2018)#tab=summary
https://www.the-numbers.com/movie/Star-Wars-Ep-I-The-Phantom-Menace#tab=summary
https://www.the-numbers.com/movie/Star-Wars-Ep-III-Revenge-of-the-Sith#tab=summary
https://www.the-numbers.com/movie/Star-Wars-Ep-II-Attack-of-the-Clones#tab=summary
https://www.the-numbers.com/movie/Monsters-Inc#tab=summary
https://www.the-numbers.com/movie/Wolverine-The#tab=summary
https://www.the-numbers.com/movie/Dantes-Peak#tab=summary
https://www.the-numbers.com/movie/Huntsman-Winters-War-The#tab=summary
https://www.the-numbers.com/movie/Windtalkers#tab=summary
https://www.the-numbers.com/movie/Asterix-aux-Jeux-Olympiques#tab=summary
https://www.the-numbers.com/movie/Gullivers-Travels-(2010)#tab=summary
https://www.the-numbers.com/movie/Ferdinand#tab=summary
https://www.the-numbers.com/movie/Deadpool-2#tab=summary
https://www.the-numbers.com/movie/Gravity#tab=summary
https://www.the-numbers.com/movie/Night-at-the-Museum#tab=summary
https://www.the-numbers.com/movie/Mr-and-Mrs-Smith#tab=summary
https://www.the-numbers.com/movie/San-Andreas#tab=summary
https://www.the-numbers.com/movie/Smurfs-The#tab=summary
https://www.the-numbers.com/movie/Live-Free-or-Die-Hard#tab=summary
https://www.the-numbers.com/movie/Divergent-Series-Insurgent-The#tab=summary
https://www.the-numbers.com/movie/Oceans-Twelve#tab=summary
https://www.the-numbers.com/movie/Tomorrow-Never-Dies#tab=summary
https://www.the-numbers.com/movie/Patriot-The#tab=summary
https://www.the-numbers.com/movie/300-Rise-of-an-Empire#tab=summary
https://www.the-numbers.com/movie/Aviator-The#tab=summary
https://www.the-numbers.com/movie/Passengers-(2015)#tab=summary
https://www.the-numbers.com/movie/Green-Hornet-The#tab=summary
https://www.the-numbers.com/movie/Miss-Peregrines-Home-for-Peculiar-Children#tab=summary
https://www.the-numbers.com/movie/Real-Steel#tab=summary
https://www.the-numbers.com/movie/Men-in-Black-International-(2019)#tab=summary
https://www.the-numbers.com/movie/A-Team-The#tab=summary
https://www.the-numbers.com/movie/Smurfs-2-The#tab=summary
https://www.the-numbers.com/movie/Divergent-Series-Allegiant-The#tab=summary
https://www.the-numbers.com/movie/Taking-of-Pelham-123-The#tab=summary
https://www.the-numbers.com/movie/Enders-Game#tab=summary
https://www.the-numbers.com/movie/Home-on-the-Range#tab=summary
https://www.the-numbers.com/movie/Speed-2-Cruise-Control#tab=summary
https://www.the-numbers.com/movie/Kingdom-of-Heaven#tab=summary
https://www.the-numbers.com/movie/Ghost-in-the-Shell#tab=summary
https://www.the-numbers.com/movie/Around-the-World-in-80-Days-(2004)#tab=summary
https://www.the-numbers.com/movie/Lord-of-the-Rings-The-Fellowship-of-the-Ring-The#tab=summary
https://www.the-numbers.com/movie/Cat-in-the-Hat-The#tab=summary
https://www.the-numbers.com/movie/Ali#tab=summary
https://www.the-numbers.com/movie/Martian-The#tab=summary
https://www.the-numbers.com/movie/Allied#tab=summary
https://www.the-numbers.com/movie/I-Robot#tab=summary
https://www.the-numbers.com/movie/Stuart-Little#tab=summary
https://www.the-numbers.com/movie/Princess-and-the-Frog-The#tab=summary
https://www.the-numbers.com/movie/10-000-B-C#tab=summary
https://www.the-numbers.com/movie/Ice-Age-Collision-Course#tab=summary
https://www.the-numbers.com/movie/Town-and-Country#tab=summary
https://www.the-numbers.com/movie/Kingsman-The-Golden-Circle#tab=summary
https://www.the-numbers.com/movie/Gone-in-60-Seconds#tab=summary
https://www.the-numbers.com/movie/Gladiator-(2000)#tab=summary
https://www.the-numbers.com/movie/Hangover-3-The#tab=summary
https://www.the-numbers.com/movie/Wrinkle-in-Time-A-(2018)#tab=summary
https://www.the-numbers.com/movie/Public-Enemies#tab=summary
https://www.the-numbers.com/movie/Casino-Royale-(2006)#tab=summary
https://www.the-numbers.com/movie/Minority-Report#tab=summary
https://www.the-numbers.com/movie/Bumblebee#tab=summary
https://www.the-numbers.com/movie/Cloud-Atlas#tab=summary
https://www.the-numbers.com/movie/Harry-Potter-and-the-Chamber-of-Secrets#tab=summary
https://www.the-numbers.com/movie/Terminator-2-Judgment-Day#tab=summary
https://www.the-numbers.com/movie/Batman-Forever-(1995)#tab=summary
https://www.the-numbers.com/movie/Planet-of-the-Apes-(2001)#tab=summary
https://www.the-numbers.com/movie/National-Treasure#tab=summary
https://www.the-numbers.com/movie/Django-Unchained#tab=summary
https://www.the-numbers.com/movie/1917-(2019)#tab=summary
https://www.the-numbers.com/movie/Little-Fockers#tab=summary
https://www.the-numbers.com/movie/True-Lies#tab=summary
https://www.the-numbers.com/movie/American-Gangster#tab=summary
https://www.the-numbers.com/movie/Cloudy-with-a-Chance-of-Meatballs#tab=summary
https://www.the-numbers.com/movie/Other-Guys-The#tab=summary
https://www.the-numbers.com/movie/Lemony-Snickets-A-Series-of-Unfortunate-Events#tab=summary
https://www.the-numbers.com/movie/Wolf-of-Wall-Street-The#tab=summary
https://www.the-numbers.com/movie/Epic#tab=summary
https://www.the-numbers.com/movie/Eraser#tab=summary
https://www.the-numbers.com/movie/Hunchback-of-Notre-Dame-The#tab=summary
https://www.the-numbers.com/movie/Emperors-New-Groove-The#tab=summary
https://www.the-numbers.com/movie/Expendables-2-The#tab=summary
https://www.the-numbers.com/movie/Where-the-Wild-Things-Are#tab=summary
https://www.the-numbers.com/movie/Eragon#tab=summary
https://www.the-numbers.com/movie/Hercules-(2014)#tab=summary
https://www.the-numbers.com/movie/Tourist-The#tab=summary
https://www.the-numbers.com/movie/End-of-Days#tab=summary
https://www.the-numbers.com/movie/Spies-in-Disguise-(2019)#tab=summary
https://www.the-numbers.com/movie/Stepford-Wives-The-(2004)#tab=summary
https://www.the-numbers.com/movie/Surfs-Up#tab=summary
https://www.the-numbers.com/movie/Blood-Diamond#tab=summary
https://www.the-numbers.com/movie/Midway-(2019)#tab=summary
https://www.the-numbers.com/movie/Legend-of-the-Guardians-The-Owls-of-GaHoole#tab=summary
https://www.the-numbers.com/movie/Starship-Troopers#tab=summary
https://www.the-numbers.com/movie/Land-of-the-Lost#tab=summary
https://www.the-numbers.com/movie/Peter-Pan-(2003)#tab=summary
https://www.the-numbers.com/movie/Wonder-Park-(2019)#tab=summary
https://www.the-numbers.com/movie/Catwoman#tab=summary
https://www.the-numbers.com/movie/Expendables-3-The#tab=summary
https://www.the-numbers.com/movie/Treasure-Planet#tab=summary
https://www.the-numbers.com/movie/Green-Zone#tab=summary
https://www.the-numbers.com/movie/Geostorm#tab=summary
https://www.the-numbers.com/movie/Point-Break-(Remake)#tab=summary
https://www.the-numbers.com/movie/Cats-(2019)#tab=summary
https://www.the-numbers.com/movie/In-the-Heart-of-the-Sea#tab=summary
https://www.the-numbers.com/movie/Transcendence#tab=summary
https://www.the-numbers.com/movie/Son-of-the-Mask#tab=summary
https://www.the-numbers.com/movie/Mortal-Engines-(2018)#tab=summary
https://www.the-numbers.com/movie/Adventures-of-Pluto-Nash-The#tab=summary
https://www.the-numbers.com/movie/Jin-ling-shi-san-chai#tab=summary
https://www.the-numbers.com/movie/Artemis-Fowl-(2020)#tab=summary
https://www.the-numbers.com/movie/Peanuts-Movie-The#tab=summary
https://www.the-numbers.com/movie/Lego-Movie-2-The-Second-Part-The-(2019)#tab=summary
https://www.the-numbers.com/movie/Robin-Hood-(2018)#tab=summary
https://www.the-numbers.com/movie/Mummy-Returns-The#tab=summary
https://www.the-numbers.com/movie/Ford-v-Ferrari-(2019)#tab=summary
https://www.the-numbers.com/movie/Gangs-of-New-York#tab=summary
https://www.the-numbers.com/movie/Alien-Covenant#tab=summary
https://www.the-numbers.com/movie/Cinderella-(2015)#tab=summary
https://www.the-numbers.com/movie/Ice-Age-Continental-Drift#tab=summary
https://www.the-numbers.com/movie/Black-Hawk-Down#tab=summary
https://www.the-numbers.com/movie/Sex-and-the-City-2#tab=summary
https://www.the-numbers.com/movie/Percy-Jackson-and-the-Lightning-Thief#tab=summary
https://www.the-numbers.com/movie/Campaign-The#tab=summary
https://www.the-numbers.com/movie/Unstoppable#tab=summary
https://www.the-numbers.com/movie/Fifth-Element-The#tab=summary
https://www.the-numbers.com/movie/Road-to-El-Dorado-The#tab=summary
https://www.the-numbers.com/movie/Lovely-Bones-The#tab=summary
https://www.the-numbers.com/movie/Ben-Hur-(2016)#tab=summary
https://www.the-numbers.com/movie/Seventh-Son#tab=summary
https://www.the-numbers.com/movie/Finding-Nemo#tab=summary
https://www.the-numbers.com/movie/Lord-of-the-Rings-The-Return-of-the-King-The#tab=summary
https://www.the-numbers.com/movie/Lord-of-the-Rings-The-Two-Towers-The#tab=summary
https://www.the-numbers.com/movie/Lara-Croft-Tomb-Raider#tab=summary
https://www.the-numbers.com/movie/Kingsman-The-Secret-Service#tab=summary
https://www.the-numbers.com/movie/Jurassic-Park-3#tab=summary
https://www.the-numbers.com/movie/Rise-of-the-Planet-of-the-Apes#tab=summary
https://www.the-numbers.com/movie/Spiderwick-Chronicles-The#tab=summary
https://www.the-numbers.com/movie/Incredibles-The#tab=summary
https://www.the-numbers.com/movie/Die-Hard-5#tab=summary
https://www.the-numbers.com/movie/Alamo-The-(2004)#tab=summary
https://www.the-numbers.com/movie/Cutthroat-Island#tab=summary
https://www.the-numbers.com/movie/Secret-Life-of-Walter-Mitty-The-(2012)#tab=summary
https://www.the-numbers.com/movie/Jumanji-Welcome-to-the-Jungle#tab=summary
https://www.the-numbers.com/movie/Men-in-Black#tab=summary
https://www.the-numbers.com/movie/Toy-Story-2#tab=summary
https://www.the-numbers.com/movie/Rush-Hour-2#tab=summary
https://www.the-numbers.com/movie/Sherlock-Holmes-(2009)#tab=summary
https://www.the-numbers.com/movie/Bad-Boys-For-Life-(Bad-Boys-3)-(2020)#tab=summary
https://www.the-numbers.com/movie/Ice-Age-Dawn-of-the-Dinosaurs#tab=summary
https://www.the-numbers.com/movie/Spider-Man-Into-The-Spider-Verse-3D-(2018)#tab=summary
https://www.the-numbers.com/movie/What-Lies-Beneath#tab=summary
https://www.the-numbers.com/movie/Sonic-The-Hedgehog-(Japan)-(2020)#tab=summary
https://www.the-numbers.com/movie/Rio#tab=summary
https://www.the-numbers.com/movie/Once-Upon-a-Time-in-Hollywood-(2019)#tab=summary
https://www.the-numbers.com/movie/Departed-The#tab=summary
https://www.the-numbers.com/movie/Charlies-Angels#tab=summary
https://www.the-numbers.com/movie/Mulan#tab=summary
https://www.the-numbers.com/movie/Tropic-Thunder#tab=summary
https://www.the-numbers.com/movie/Girl-with-the-Dragon-Tattoo-The#tab=summary
https://www.the-numbers.com/movie/Contact#tab=summary
https://www.the-numbers.com/movie/You-Don-t-Mess-With-the-Zohan#tab=summary
https://www.the-numbers.com/movie/Die-Hard-With-a-Vengeance#tab=summary
https://www.the-numbers.com/movie/Magnificent-Seven-The-(2016)#tab=summary
https://www.the-numbers.com/movie/Alvin-and-the-Chipmunks-The-Road-Chip#tab=summary
https://www.the-numbers.com/movie/Atlantis-The-Lost-Empire#tab=summary
https://www.the-numbers.com/movie/Valkyrie#tab=summary
https://www.the-numbers.com/movie/Pixels#tab=summary
https://www.the-numbers.com/movie/Artificial-Intelligence-AI#tab=summary
https://www.the-numbers.com/movie/Haunted-Mansion-The-(2003)#tab=summary
https://www.the-numbers.com/movie/Hollow-Man#tab=summary
https://www.the-numbers.com/movie/Interpreter-The#tab=summary
https://www.the-numbers.com/movie/Percy-Jackson-Sea-of-Monsters#tab=summary
https://www.the-numbers.com/movie/Lara-Croft-Tomb-Raider-The-Cradle-of-Life#tab=summary
https://www.the-numbers.com/movie/Now-You-See-Me-2#tab=summary
https://www.the-numbers.com/movie/Spy-Game#tab=summary
https://www.the-numbers.com/movie/Saint-The#tab=summary
https://www.the-numbers.com/movie/Mission-to-Mars#tab=summary
https://www.the-numbers.com/movie/Tomb-Raider-(2018)#tab=summary
https://www.the-numbers.com/movie/Bicentennial-Man#tab=summary
https://www.the-numbers.com/movie/King-Arthur-(2004)#tab=summary
https://www.the-numbers.com/movie/Volcano#tab=summary
https://www.the-numbers.com/movie/Devils-Own-The#tab=summary

In [23]:
chrome_driver.quit()

In [21]:
dfSuperCast

,Artist_Group_1,Artist_Group_1_Count,Artist_Group_2,Artist_Group_2_Count,Artist_Group_3,Artist_Group_3_Count,Artist_Group_4,Artist_Group_4_Count,Artist_Group_5,Artist_Group_5_Count,Artist_Group_6,Artist_Group_6_Count
0,Tom Cruise,9,Vanessa Kirby,27.0,Christopher McQuarrie,14.0,NaN,NaN,NaN,NaN,NaN,NaN
0,James McAvoy,3,Oscar Isaac,85.0,Stan Lee,2.0,Bryan Singer,71.0,NaN,NaN,NaN,NaN
0,Jason Statham,6,Sophia Cai Shuya,28.0,Jon Turteltaub,83.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Tom Cruise,2,Bill Paxton,28.0,Anna Botting,4.0,Doug Liman,74.0,NaN,NaN,NaN,NaN
0,Brie Larson,9,Jude Law,37.0,Stan Lee,1.0,Anna Boden,75.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
0,Alicia Vikander,1,Dominic West,33.0,Roar Uthaug,47.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Robin Williams,1,Sam Neill,35.0,Chris Columbus,50.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Clive Owen,3,Stellan SkarsgÃ¥rd,43.0,Antoine Fuqua,45.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Tommy Lee Jones,2,Gaby Hoffmann,70.0,Terry Anzur,45.0,Mick Jackson,58.0,NaN,NaN,NaN,NaN
0,Harrison Ford,2,Margaret Colin,48.0,Alan J. Pakula,30.0,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#dfSuperCast.to_excel('D:\\Selenium_dfSuperCast_400.xlsx',index=False)
# KEEP COMMENTED - ADO NOT WRITE AN EMPTY DATAFRAME TO DATAFILE

In [2]:
df_main = pandas.read_excel('D:\\Selenium_df_main.xlsx')
df_main.head(2)

,0,1,2,3,4,5,6,7
0,100,"$179,000,000","$47,482,519","$181,982,519","Feb 6, 2015",https://www.the-numbers.com/box-office-chart/d...,Jupiter Ascending,https://www.the-numbers.com/movie/Jupiter-Asce...
1,1,"$400,000,000","$858,373,000","$2,797,800,564","Apr 23, 2019",https://www.the-numbers.com/box-office-chart/d...,Avengers: Endgame,https://www.the-numbers.com/movie/Avengers-End...

In [24]:
df1 = df_main.copy()
#df1 = df1.drop(0)
df1

,0,1,2,3,4,5,6,7
0,101,"$178,000,000","$220,159,104","$787,456,552","Jul 16, 2018",https://www.the-numbers.com/box-office-chart/d...,Mission: Impossibleâ€”Fallout,https://www.the-numbers.com/movie/Mission-Impo...
1,102,"$178,000,000","$155,442,489","$542,537,546","May 18, 2016",https://www.the-numbers.com/box-office-chart/d...,X-Men: Apocalypse,https://www.the-numbers.com/movie/X-Men-Apocal...
2,103,"$178,000,000","$145,443,742","$529,530,715","Aug 9, 2018",https://www.the-numbers.com/box-office-chart/d...,The Meg,https://www.the-numbers.com/movie/Meg-The#tab=...
3,104,"$178,000,000","$100,206,256","$370,541,256","May 28, 2014",https://www.the-numbers.com/box-office-chart/d...,Edge of Tomorrow,https://www.the-numbers.com/movie/Edge-of-Tomo...
4,105,"$175,000,000","$426,829,839","$1,129,729,839","Mar 6, 2019",https://www.the-numbers.com/box-office-chart/d...,Captain Marvel,https://www.the-numbers.com/movie/Captain-Marv...
...,...,...,...,...,...,...,...,...
95,496,"$90,000,000","$58,250,803","$273,477,501","Mar 6, 2018",https://www.the-numbers.com/box-office-chart/d...,Tomb Raider,https://www.the-numbers.com/movie/Tomb-Raider-...
96,497,"$90,000,000","$58,220,776","$87,420,776","Dec 17, 1999",https://www.the-numbers.com/box-office-chart/d...,Bicentennial Man,https://www.the-numbers.com/movie/Bicentennial...
97,498,"$90,000,000","$51,877,963","$203,653,524","Jul 7, 2004",https://www.the-numbers.com/box-office-chart/d...,King Arthur,https://www.the-numbers.com/movie/King-Arthur-...
98,499,"$90,000,000","$47,546,796","$120,100,000","Apr 25, 1997",https://www.the-numbers.com/box-office-chart/d...,Volcano,https://www.the-numbers.com/movie/Volcano#tab=...
99,500,"$90,000,000","$42,885,593","$140,900,000","Mar 26, 1997",https://www.the-numbers.com/box-office-chart/d...,The Devil's Own,https://www.the-numbers.com/movie/Devils-Own-T...

In [25]:
s_url = df1.iloc[:100,7][64] 
s_url
#df1.iloc[:100,0]

'https://www.the-numbers.com/movie/Pearl-Harbor#tab=summary'

In [40]:
'''
chrome_driver.get(s_url)
info_tables = chrome_driver.find_elements_by_tag_name('table')
chrome_driver.find_element_by_link_text
lst_Metrics = []
for t_b in info_tables:
    info_cells = t_b.find_element_by_link_text('')
    for t_c in info_cells:
        #lst_Metrics.append(t_c.text) 
        pass

lst_Metrics    '''

#info_cell = chrome_driver.find_elements_by_xpath("//b[contains(text(),'Opening')]//parent::td//following-sibling::td")
#print(info_cell[0].text)
#browser.find_element_by_xpath("//td[text()='My Content']")
#all_tds = chrome_driver.find_elements_by_tag_name('td')

#xp = "//b[contains(text(),'{0}')]//parent::td//following-sibling::td".format('Infl. Adj. Dom. BO')
#info_cell = chrome_driver.find_elements_by_xpath("//b[contains(text(),'{0}')]//parent::td//following-sibling::td".format('Infl. Adj. Dom. BO'))
#print(info_cell)

[]

In [33]:
chrome_driver = webdriver.Chrome(ChromeDriverManager().install())

Looking for [chromedriver 81.0.4044.69 win32] driver in cache
File found in cache by path [C:\Users\OWNER\.wdm\drivers\chromedriver\81.0.4044.69\win32\chromedriver.exe]

In [34]:
dct_MM = {'Opening':[],'Legs':[],'Domestic Share':[],'Theater counts':[],'Infl. Adj. Dom. BO':[],
    'Running Time':[],'Genre':[],'Method':[],'Type':[]}

keys_MM = dct_MM.keys()
lst_keys_MM = list(keys_MM)
z = 1
for i in df1.iloc[:,7]:
    chrome_driver.get(i)
    print(str(z) + '. ' + i)
    for kys in lst_keys_MM: 
        #print(kys)      
        xpth = "//b[contains(text(),'{0}')]//parent::td//following-sibling::td".format(kys)
        info_cell = chrome_driver.find_elements_by_xpath(xpth)
        if(len(info_cell) == 0):
            dct_MM[kys].append('NA')
        else:
            dct_MM[kys].append(info_cell[0].text)
    z += 1
#dct_MM
df_Metrics = (pandas.DataFrame.from_dict(dct_MM,orient='index')).T
df_Metrics

he-Caribbean-The-Curse-of-the-Black-Pearl#tab=summary
120. https://www.the-numbers.com/movie/Star-Trek#tab=summary
121. https://www.the-numbers.com/movie/Armageddon#tab=summary
122. https://www.the-numbers.com/movie/Men-in-Black-2#tab=summary
123. https://www.the-numbers.com/movie/Captain-America-The-First-Avenger#tab=summary
124. https://www.the-numbers.com/movie/Kung-Fu-Panda-3#tab=summary
125. https://www.the-numbers.com/movie/Lethal-Weapon-4#tab=summary
126. https://www.the-numbers.com/movie/GI-Joe-Retaliation#tab=summary
127. https://www.the-numbers.com/movie/Last-Samurai-The#tab=summary
128. https://www.the-numbers.com/movie/Fun-With-Dick-And-Jane#tab=summary
129. https://www.the-numbers.com/movie/Exodus-Gods-and-Kings#tab=summary
130. https://www.the-numbers.com/movie/BFG-The-(2016)#tab=summary
131. https://www.the-numbers.com/movie/Gemini-Man-(2019)#tab=summary
132. https://www.the-numbers.com/movie/Gods-of-Egypt#tab=summary
133. https://www.the-numbers.com/movie/Top-Gun-Maverick-(2020)#tab=summary
134. https://www.the-numbers.com/movie/Spider-Man#tab=summary
135. https://www.the-numbers.com/movie/Watchmen#tab=summary
136. https://www.the-numbers.com/movie/Stealth#tab=summary
137. https://www.the-numbers.com/movie/Incredible-Hulk-The#tab=summary
138. https://www.the-numbers.com/movie/Hulk#tab=summary
139. https://www.the-numbers.com/movie/Final-Fantasy-The-Spirits-Within#tab=summary
140. https://www.the-numbers.com/movie/Twilight-Saga-Breaking-Dawn-Part-2-The#tab=summary
141. https://www.the-numbers.com/movie/Croods-The#tab=summary
142. https://www.the-numbers.com/movie/Revenant-The-(2015)#tab=summary
143. https://www.the-numbers.com/movie/World-is-Not-Enough-The#tab=summary
144. https://www.the-numbers.com/movie/Rango#tab=summary
145. https://www.the-numbers.com/movie/Master-and-Commander-The-Far-Side-of-the-World#tab=summary
146. https://www.the-numbers.com/movie/Turbo#tab=summary
147. https://www.the-numbers.com/movie/Teenage-Mutant-Ninja-Turtles-Out-of-the-Shadows#tab=summary
148. https://www.the-numbers.com/movie/Happy-Feet-2#tab=summary
149. https://www.the-numbers.com/movie/Miami-Vice#tab=summary
150. https://www.the-numbers.com/movie/Nutcracker-and-the-Four-Realms-The-(2018)#tab=summary
151. https://www.the-numbers.com/movie/War-of-the-Worlds#tab=summary
152. https://www.the-numbers.com/movie/Penguins-of-Madagascar#tab=summary
153. https://www.the-numbers.com/movie/Hunger-Games-Catching-Fire-The#tab=summary
154. https://www.the-numbers.com/movie/Harry-Potter-and-the-Prisoner-of-Azkaban#tab=summary
155. https://www.the-numbers.com/movie/Bourne-Ultimatum-The#tab=summary
156. https://www.the-numbers.com/movie/Ant-Man-and-the-Wasp#tab=summary
157. https://www.the-numbers.com/movie/Kung-Fu-Panda#tab=summary
158. https://www.the-numbers.com/movie/Ant-Man#tab=summary
159. https://www.the-numbers.com/movie/Home-(2015)#tab=summary
160. https://www.the-numbers.com/movie/Mary-Poppins-Returns-(2018)#tab=summary
161. https://www.the-numbers.com/movie/Puss-in-Boots#tab=summary
162. https://www.the-numbers.com/movie/Megamind#tab=summary
163. https://www.the-numbers.com/movie/Bad-Boys-II#tab=summary
164. https://www.the-numbers.com/movie/Rio-2#tab=summary
165. https://www.the-numbers.com/movie/Salt#tab=summary
166. https://www.the-numbers.com/movie/Noah#tab=summary
167. https://www.the-numbers.com/movie/Adventures-of-Tintin-The#tab=summary
168. https://www.the-numbers.com/movie/After-Earth#tab=summary
169. https://www.the-numbers.com/movie/Australia#tab=summary
170. https://www.the-numbers.com/movie/RIPD#tab=summary
171. https://www.the-numbers.com/movie/How-to-Train-Your-Dragon-The-Hidden-World-(2019)#tab=summary
172. https://www.the-numbers.com/movie/Twilight-Saga-Breaking-Dawn-Part-1-The#tab=summary
173. https://www.the-numbers.com/movie/Dinosaur#tab=summary
174. https://www.the-numbers.com/movie/Logan-(2017)#tab=summary
175. https://www.the-numbers.com/movie/Night-at-the-Museum-Secret-of-the-Tomb#tab=summary
176. https://www.the-numbers.com/movie/Harry-Potter-and-the-Deathly-Hallows-Part-II#tab=summary
177. https://www.the-numbers.com/movie/Hunger-Games-Mockingjay-Part-1-The#tab=summary
178. https://www.the-numbers.com/movie/Harry-Potter-and-the-Sorcerers-Stone#tab=summary
179. https://www.the-numbers.com/movie/Jumanji-The-Next-Level#tab=summary
180. https://www.the-numbers.com/movie/Harry-Potter-and-the-Deathly-Hallows-Part-I#tab=summary
181. https://www.the-numbers.com/movie/Da-Vinci-Code-The#tab=summary
182. https://www.the-numbers.com/movie/X-Men-2-(2003)#tab=summary
183. https://www.the-numbers.com/movie/Fast-Five#tab=summary
184. https://www.the-numbers.com/movie/Teenage-Mutant-Ninja-Turtles-(2014)#tab=summary
185. https://www.the-numbers.com/movie/Sherlock-Holmes-A-Game-of-Shadows#tab=summary
186. https://www.the-numbers.com/movie/Day-After-Tomorrow-The#tab=summary
187. https://www.the-numbers.com/movie/Boss-Baby-The#tab=summary
188. https://www.the-numbers.com/movie/Clash-of-the-Titans-(2010)#tab=summary
189. https://www.the-numbers.com/movie/Trolls#tab=summary
190. https://www.the-numbers.com/movie/Godzilla#tab=summary
191. https://www.the-numbers.com/movie/Prometheus#tab=summary
192. https://www.the-numbers.com/movie/Bourne-Legacy-The#tab=summary
193. https://www.the-numbers.com/movie/Batman-and-Robin#tab=summary
194. https://www.the-numbers.com/movie/Skyscraper#tab=summary
195. https://www.the-numbers.com/movie/Call-of-the-Wild-The-(2020)#tab=summary
196. https://www.the-numbers.com/movie/Total-Recall-(Remake)#tab=summary
197. https://www.the-numbers.com/movie/Assassins-Creed#tab=summary
198. https://www.the-numbers.com/movie/Monster-Trucks#tab=summary
199. https://www.the-numbers.com/movie/13th-Warrior-The#tab=summary
200. https://www.the-numbers.com/movie/How-the-Grinch-Stole-Christmas-(2000)#tab=summary
201. https://www.the-numbers.com/movie/Mission-Impossible-2#tab=summary
202. https://www.the-numbers.com/movie/Perfect-Storm-The#tab=summary
203. https://www.the-numbers.com/movie/Jason-Bourne#tab=summary
204. https://www.the-numbers.com/movie/Fantastic-Four-Rise-of-the-Silver-Surfer#tab=summary
205. https://www.the-numbers.com/movie/Life-of-Pi#tab=summary
206. https://www.the-numbers.com/movie/Ghost-Rider#tab=summary
207. https://www.the-numbers.com/movie/Rampage-(2018)#tab=summary
208. https://www.the-numbers.com/movie/Charlies-Angels-Full-Throttle#tab=summary
209. https://www.the-numbers.com/movie/Elysium#tab=summary
210. https://www.the-numbers.com/movie/Oblivion-(2013)#tab=summary
211. https://www.the-numbers.com/movie/Power-Rangers-(2017)#tab=summary
212. https://www.the-numbers.com/movie/Stuart-Little-2#tab=summary
213. https://www.the-numbers.com/movie/RoboCop-(2013)#tab=summary
214. https://www.the-numbers.com/movie/Chronicles-of-Riddick-The#tab=summary
215. https://www.the-numbers.com/movie/Fantastic-Four-The-(2015)#tab=summary
216. https://www.the-numbers.com/movie/Speed-Racer#tab=summary
217. https://www.the-numbers.com/movie/Island-The-(2005)#tab=summary
218. https://www.the-numbers.com/movie/How-Do-You-Know#tab=summary
219. https://www.the-numbers.com/movie/Knight-and-Day#tab=summary
220. https://www.the-numbers.com/movie/Venom-(2018)#tab=summary
221. https://www.the-numbers.com/movie/Star-Wars-Ep-I-The-Phantom-Menace#tab=summary
222. https://www.the-numbers.com/movie/Star-Wars-Ep-III-Revenge-of-the-Sith#tab=summary
223. https://www.the-numbers.com/movie/Star-Wars-Ep-II-Attack-of-the-Clones#tab=summary
224. https://www.the-numbers.com/movie/Monsters-Inc#tab=summary
225. https://www.the-numbers.com/movie/Wolverine-The#tab=summary
226. https://www.the-numbers.com/movie/Dantes-Peak#tab=summary
227. https://www.the-numbers.com/movie/Huntsman-Winters-War-The#tab=summary
228. https://www.the-numbers.com/movie/Windtalkers#tab=summary
229. https://www.the-numbers.com/movie/Asterix-aux-Jeux-Olympiques#tab=summary
230. https://www.the-numbers.com/movie/Gullivers-Travels-(2010)#tab=summary
231. https://www.the-numbers.com/movie/Ferdinand#tab=summary
232. https://www.the-numbers.com/movie/Deadpool-2#tab=summary
233. https://www.the-numbers.com/movie/Gravity#tab=summary
234. https://www.the-numbers.com/movie/Night-at-the-Museum#tab=summary
235. https://www.the-numbers.com/movie/Mr-and-Mrs-Smith#tab=summary
236. https://www.the-numbers.com/movie/San-Andreas#tab=summary
237. https://www.the-numbers.com/movie/Smurfs-The#tab=summary
238. https://www.the-numbers.com/movie/Live-Free-or-Die-Hard#tab=summary
239. https://www.the-numbers.com/movie/Divergent-Series-Insurgent-The#tab=summary
240. https://www.the-numbers.com/movie/Oceans-Twelve#tab=summary
241. https://www.the-numbers.com/movie/Tomorrow-Never-Dies#tab=summary
242. https://www.the-numbers.com/movie/Patriot-The#tab=summary
243. https://www.the-numbers.com/movie/300-Rise-of-an-Empire#tab=summary
244. https://www.the-numbers.com/movie/Aviator-The#tab=summary
245. https://www.the-numbers.com/movie/Passengers-(2015)#tab=summary
246. https://www.the-numbers.com/movie/Green-Hornet-The#tab=summary
247. https://www.the-numbers.com/movie/Miss-Peregrines-Home-for-Peculiar-Children#tab=summary
248. https://www.the-numbers.com/movie/Real-Steel#tab=summary
249. https://www.the-numbers.com/movie/Men-in-Black-International-(2019)#tab=summary
250. https://www.the-numbers.com/movie/A-Team-The#tab=summary
251. https://www.the-numbers.com/movie/Smurfs-2-The#tab=summary
252. https://www.the-numbers.com/movie/Divergent-Series-Allegiant-The#tab=summary
253. https://www.the-numbers.com/movie/Taking-of-Pelham-123-The#tab=summary
254. https://www.the-numbers.com/movie/Enders-Game#tab=summary
255. https://www.the-numbers.com/movie/Home-on-the-Range#tab=summary
256. https://www.the-numbers.com/movie/Speed-2-Cruise-Control#tab=summary
257. https://www.the-numbers.com/movie/Kingdom-of-Heaven#tab=summary
258. https://www.the-numbers.com/movie/Ghost-in-the-Shell#tab=summary
259. https://www.the-numbers.com/movie/Around-the-World-in-80-Days-(2004)#tab=summary
260. https://www.the-numbers.com/movie/Lord-of-the-Rings-The-Fellowship-of-the-Ring-The#tab=summary
261. https://www.the-numbers.com/movie/Cat-in-the-Hat-The#tab=summary
262. https://www.the-numbers.com/movie/Ali#tab=summary
263. https://www.the-numbers.com/movie/Martian-The#tab=summary
264. https://www.the-numbers.com/movie/Allied#tab=summary
265. https://www.the-numbers.com/movie/I-Robot#tab=summary
266. https://www.the-numbers.com/movie/Stuart-Little#tab=summary
267. https://www.the-numbers.com/movie/Princess-and-the-Frog-The#tab=summary
268. https://www.the-numbers.com/movie/10-000-B-C#tab=summary
269. https://www.the-numbers.com/movie/Ice-Age-Collision-Course#tab=summary
270. https://www.the-numbers.com/movie/Town-and-Country#tab=summary
271. https://www.the-numbers.com/movie/Kingsman-The-Golden-Circle#tab=summary
272. https://www.the-numbers.com/movie/Gone-in-60-Seconds#tab=summary
273. https://www.the-numbers.com/movie/Gladiator-(2000)#tab=summary
274. https://www.the-numbers.com/movie/Hangover-3-The#tab=summary
275. https://www.the-numbers.com/movie/Wrinkle-in-Time-A-(2018)#tab=summary
276. https://www.the-numbers.com/movie/Public-Enemies#tab=summary
277. https://www.the-numbers.com/movie/Casino-Royale-(2006)#tab=summary
278. https://www.the-numbers.com/movie/Minority-Report#tab=summary
279. https://www.the-numbers.com/movie/Bumblebee#tab=summary
280. https://www.the-numbers.com/movie/Cloud-Atlas#tab=summary
281. https://www.the-numbers.com/movie/Harry-Potter-and-the-Chamber-of-Secrets#tab=summary
282. https://www.the-numbers.com/movie/Terminator-2-Judgment-Day#tab=summary
283. https://www.the-numbers.com/movie/Batman-Forever-(1995)#tab=summary
284. https://www.the-numbers.com/movie/Planet-of-the-Apes-(2001)#tab=summary
285. https://www.the-numbers.com/movie/National-Treasure#tab=summary
286. https://www.the-numbers.com/movie/Django-Unchained#tab=summary
287. https://www.the-numbers.com/movie/1917-(2019)#tab=summary
288. https://www.the-numbers.com/movie/Little-Fockers#tab=summary
289. https://www.the-numbers.com/movie/True-Lies#tab=summary
290. https://www.the-numbers.com/movie/American-Gangster#tab=summary
291. https://www.the-numbers.com/movie/Cloudy-with-a-Chance-of-Meatballs#tab=summary
292. https://www.the-numbers.com/movie/Other-Guys-The#tab=summary
293. https://www.the-numbers.com/movie/Lemony-Snickets-A-Series-of-Unfortunate-Events#tab=summary
294. https://www.the-numbers.com/movie/Wolf-of-Wall-Street-The#tab=summary
295. https://www.the-numbers.com/movie/Epic#tab=summary
296. https://www.the-numbers.com/movie/Eraser#tab=summary
297. https://www.the-numbers.com/movie/Hunchback-of-Notre-Dame-The#tab=summary
298. https://www.the-numbers.com/movie/Emperors-New-Groove-The#tab=summary
299. https://www.the-numbers.com/movie/Expendables-2-The#tab=summary
300. https://www.the-numbers.com/movie/Where-the-Wild-Things-Are#tab=summary
301. https://www.the-numbers.com/movie/Eragon#tab=summary
302. https://www.the-numbers.com/movie/Hercules-(2014)#tab=summary
303. https://www.the-numbers.com/movie/Tourist-The#tab=summary
304. https://www.the-numbers.com/movie/End-of-Days#tab=summary
305. https://www.the-numbers.com/movie/Spies-in-Disguise-(2019)#tab=summary
306. https://www.the-numbers.com/movie/Stepford-Wives-The-(2004)#tab=summary
307. https://www.the-numbers.com/movie/Surfs-Up#tab=summary
308. https://www.the-numbers.com/movie/Blood-Diamond#tab=summary
309. https://www.the-numbers.com/movie/Midway-(2019)#tab=summary
310. https://www.the-numbers.com/movie/Legend-of-the-Guardians-The-Owls-of-GaHoole#tab=summary
311. https://www.the-numbers.com/movie/Starship-Troopers#tab=summary
312. https://www.the-numbers.com/movie/Land-of-the-Lost#tab=summary
313. https://www.the-numbers.com/movie/Peter-Pan-(2003)#tab=summary
314. https://www.the-numbers.com/movie/Wonder-Park-(2019)#tab=summary
315. https://www.the-numbers.com/movie/Catwoman#tab=summary
316. https://www.the-numbers.com/movie/Expendables-3-The#tab=summary
317. https://www.the-numbers.com/movie/Treasure-Planet#tab=summary
318. https://www.the-numbers.com/movie/Green-Zone#tab=summary
319. https://www.the-numbers.com/movie/Geostorm#tab=summary
320. https://www.the-numbers.com/movie/Point-Break-(Remake)#tab=summary
321. https://www.the-numbers.com/movie/Cats-(2019)#tab=summary
322. https://www.the-numbers.com/movie/In-the-Heart-of-the-Sea#tab=summary
323. https://www.the-numbers.com/movie/Transcendence#tab=summary
324. https://www.the-numbers.com/movie/Son-of-the-Mask#tab=summary
325. https://www.the-numbers.com/movie/Mortal-Engines-(2018)#tab=summary
326. https://www.the-numbers.com/movie/Adventures-of-Pluto-Nash-The#tab=summary
327. https://www.the-numbers.com/movie/Jin-ling-shi-san-chai#tab=summary
328. https://www.the-numbers.com/movie/Artemis-Fowl-(2020)#tab=summary
329. https://www.the-numbers.com/movie/Peanuts-Movie-The#tab=summary
330. https://www.the-numbers.com/movie/Lego-Movie-2-The-Second-Part-The-(2019)#tab=summary
331. https://www.the-numbers.com/movie/Robin-Hood-(2018)#tab=summary
332. https://www.the-numbers.com/movie/Mummy-Returns-The#tab=summary
333. https://www.the-numbers.com/movie/Ford-v-Ferrari-(2019)#tab=summary
334. https://www.the-numbers.com/movie/Gangs-of-New-York#tab=summary
335. https://www.the-numbers.com/movie/Alien-Covenant#tab=summary
336. https://www.the-numbers.com/movie/Cinderella-(2015)#tab=summary
337. https://www.the-numbers.com/movie/Ice-Age-Continental-Drift#tab=summary
338. https://www.the-numbers.com/movie/Black-Hawk-Down#tab=summary
339. https://www.the-numbers.com/movie/Sex-and-the-City-2#tab=summary
340. https://www.the-numbers.com/movie/Percy-Jackson-and-the-Lightning-Thief#tab=summary
341. https://www.the-numbers.com/movie/Campaign-The#tab=summary
342. https://www.the-numbers.com/movie/Unstoppable#tab=summary
343. https://www.the-numbers.com/movie/Fifth-Element-The#tab=summary
344. https://www.the-numbers.com/movie/Road-to-El-Dorado-The#tab=summary
345. https://www.the-numbers.com/movie/Lovely-Bones-The#tab=summary
346. https://www.the-numbers.com/movie/Ben-Hur-(2016)#tab=summary
347. https://www.the-numbers.com/movie/Seventh-Son#tab=summary
348. https://www.the-numbers.com/movie/Finding-Nemo#tab=summary
349. https://www.the-numbers.com/movie/Lord-of-the-Rings-The-Return-of-the-King-The#tab=summary
350. https://www.the-numbers.com/movie/Lord-of-the-Rings-The-Two-Towers-The#tab=summary
351. https://www.the-numbers.com/movie/Lara-Croft-Tomb-Raider#tab=summary
352. https://www.the-numbers.com/movie/Kingsman-The-Secret-Service#tab=summary
353. https://www.the-numbers.com/movie/Jurassic-Park-3#tab=summary
354. https://www.the-numbers.com/movie/Rise-of-the-Planet-of-the-Apes#tab=summary
355. https://www.the-numbers.com/movie/Spiderwick-Chronicles-The#tab=summary
356. https://www.the-numbers.com/movie/Incredibles-The#tab=summary
357. https://www.the-numbers.com/movie/Die-Hard-5#tab=summary
358. https://www.the-numbers.com/movie/Alamo-The-(2004)#tab=summary
359. https://www.the-numbers.com/movie/Cutthroat-Island#tab=summary
360. https://www.the-numbers.com/movie/Secret-Life-of-Walter-Mitty-The-(2012)#tab=summary
361. https://www.the-numbers.com/movie/Jumanji-Welcome-to-the-Jungle#tab=summary
362. https://www.the-numbers.com/movie/Men-in-Black#tab=summary
363. https://www.the-numbers.com/movie/Toy-Story-2#tab=summary
364. https://www.the-numbers.com/movie/Rush-Hour-2#tab=summary
365. https://www.the-numbers.com/movie/Sherlock-Holmes-(2009)#tab=summary
366. https://www.the-numbers.com/movie/Bad-Boys-For-Life-(Bad-Boys-3)-(2020)#tab=summary
367. https://www.the-numbers.com/movie/Ice-Age-Dawn-of-the-Dinosaurs#tab=summary
368. https://www.the-numbers.com/movie/Spider-Man-Into-The-Spider-Verse-3D-(2018)#tab=summary
369. https://www.the-numbers.com/movie/What-Lies-Beneath#tab=summary
370. https://www.the-numbers.com/movie/Sonic-The-Hedgehog-(Japan)-(2020)#tab=summary
371. https://www.the-numbers.com/movie/Rio#tab=summary
372. https://www.the-numbers.com/movie/Once-Upon-a-Time-in-Hollywood-(2019)#tab=summary
373. https://www.the-numbers.com/movie/Departed-The#tab=summary
374. https://www.the-numbers.com/movie/Charlies-Angels#tab=summary
375. https://www.the-numbers.com/movie/Mulan#tab=summary
376. https://www.the-numbers.com/movie/Tropic-Thunder#tab=summary
377. https://www.the-numbers.com/movie/Girl-with-the-Dragon-Tattoo-The#tab=summary
378. https://www.the-numbers.com/movie/Contact#tab=summary
379. https://www.the-numbers.com/movie/You-Don-t-Mess-With-the-Zohan#tab=summary
380. https://www.the-numbers.com/movie/Die-Hard-With-a-Vengeance#tab=summary
381. https://www.the-numbers.com/movie/Magnificent-Seven-The-(2016)#tab=summary
382. https://www.the-numbers.com/movie/Alvin-and-the-Chipmunks-The-Road-Chip#tab=summary
383. https://www.the-numbers.com/movie/Atlantis-The-Lost-Empire#tab=summary
384. https://www.the-numbers.com/movie/Valkyrie#tab=summary
385. https://www.the-numbers.com/movie/Pixels#tab=summary
386. https://www.the-numbers.com/movie/Artificial-Intelligence-AI#tab=summary
387. https://www.the-numbers.com/movie/Haunted-Mansion-The-(2003)#tab=summary
388. https://www.the-numbers.com/movie/Hollow-Man#tab=summary
389. https://www.the-numbers.com/movie/Interpreter-The#tab=summary
390. https://www.the-numbers.com/movie/Percy-Jackson-Sea-of-Monsters#tab=summary
391. https://www.the-numbers.com/movie/Lara-Croft-Tomb-Raider-The-Cradle-of-Life#tab=summary
392. https://www.the-numbers.com/movie/Now-You-See-Me-2#tab=summary
393. https://www.the-numbers.com/movie/Spy-Game#tab=summary
394. https://www.the-numbers.com/movie/Saint-The#tab=summary
395. https://www.the-numbers.com/movie/Mission-to-Mars#tab=summary
396. https://www.the-numbers.com/movie/Tomb-Raider-(2018)#tab=summary
397. https://www.the-numbers.com/movie/Bicentennial-Man#tab=summary
398. https://www.the-numbers.com/movie/King-Arthur-(2004)#tab=summary
399. https://www.the-numbers.com/movie/Volcano#tab=summary
400. https://www.the-numbers.com/movie/Devils-Own-The#tab=summary

,Opening,Legs,Domestic Share,Theater counts,Infl. Adj. Dom. BO,Running Time,Genre,Method,Type
0,"$61,236,534 (27.8% of total gross)",3.60 (domestic box office/biggest weekend),28.0% (domestic box office/worldwide),"4,386 opening theaters/4,395 max. theaters, 6....","$220,159,104",147 minutes,Action,Live Action,Contemporary Fiction
1,"$65,769,562 (42.3% of total gross)",2.36 (domestic box office/biggest weekend),28.7% (domestic box office/worldwide),"4,150 opening theaters/4,153 max. theaters, 4....","$163,708,786",136 minutes,Action,Live Action,Super Hero
2,"$45,402,195 (31.2% of total gross)",3.20 (domestic box office/biggest weekend),27.5% (domestic box office/worldwide),"4,118 opening theaters/4,118 max. theaters, 6....","$145,443,746",113 minutes,Action,Live Action,Science Fiction
3,"$28,760,246 (28.7% of total gross)",3.48 (domestic box office/biggest weekend),27.0% (domestic box office/worldwide),"3,490 opening theaters/3,505 max. theaters, 5....","$111,735,489",136 minutes,Action,Live Action,Science Fiction
4,"$153,433,423 (35.9% of total gross)",2.78 (domestic box office/biggest weekend),37.8% (domestic box office/worldwide),"4,310 opening theaters/4,310 max. theaters, 7....","$426,829,839",124 minutes,Action,Animation/Live Action,Super Hero
...,...,...,...,...,...,...,...,...,...
395,"$23,633,317 (40.6% of total gross)",2.46 (domestic box office/biggest weekend),21.3% (domestic box office/worldwide),"3,854 opening theaters/3,854 max. theaters, 3....","$58,250,807",118 minutes,Action,Live Action,Contemporary Fiction
396,"$8,234,926 (14.1% of total gross)",7.03 (domestic box office/biggest weekend),66.6% (domestic box office/worldwide),"2,518 opening theaters/2,767 max. theaters, 6....","$102,488,283",131 minutes,Drama,Live Action,Science Fiction
397,"$15,193,907 (29.3% of total gross)",3.41 (domestic box office/biggest weekend),25.5% (domestic box office/worldwide),"3,086 opening theaters/3,086 max. theaters, 3....","$76,104,384",126 minutes,Adventure,Live Action,Historical Fiction
398,"$14,581,740 (30.7% of total gross)",3.26 (domestic box office/biggest weekend),39.6% (domestic box office/worldwide),"2,774 opening theaters/2,777 max. theaters, 6....","$94,368,477",NA,Action,Live Action,Contemporary Fiction
399,"$14,274,503 (33.3% of total gross)",3.00 (domestic box office/biggest weekend),30.4% (domestic box office/worldwide),"2,504 opening theaters/2,504 max. theaters, 5....","$85,117,153",107 minutes,Thriller/Suspense,Live Action,Contemporary Fiction

In [37]:
chrome_driver.quit()

In [36]:
#df_Metrics.to_excel("D:\\Selenium_df_Metrics_400.xlsx")
df_Metrics

,Opening,Legs,Domestic Share,Theater counts,Infl. Adj. Dom. BO,Running Time,Genre,Method,Type
0,"$61,236,534 (27.8% of total gross)",3.60 (domestic box office/biggest weekend),28.0% (domestic box office/worldwide),"4,386 opening theaters/4,395 max. theaters, 6....","$220,159,104",147 minutes,Action,Live Action,Contemporary Fiction
1,"$65,769,562 (42.3% of total gross)",2.36 (domestic box office/biggest weekend),28.7% (domestic box office/worldwide),"4,150 opening theaters/4,153 max. theaters, 4....","$163,708,786",136 minutes,Action,Live Action,Super Hero
2,"$45,402,195 (31.2% of total gross)",3.20 (domestic box office/biggest weekend),27.5% (domestic box office/worldwide),"4,118 opening theaters/4,118 max. theaters, 6....","$145,443,746",113 minutes,Action,Live Action,Science Fiction
3,"$28,760,246 (28.7% of total gross)",3.48 (domestic box office/biggest weekend),27.0% (domestic box office/worldwide),"3,490 opening theaters/3,505 max. theaters, 5....","$111,735,489",136 minutes,Action,Live Action,Science Fiction
4,"$153,433,423 (35.9% of total gross)",2.78 (domestic box office/biggest weekend),37.8% (domestic box office/worldwide),"4,310 opening theaters/4,310 max. theaters, 7....","$426,829,839",124 minutes,Action,Animation/Live Action,Super Hero
...,...,...,...,...,...,...,...,...,...
395,"$23,633,317 (40.6% of total gross)",2.46 (domestic box office/biggest weekend),21.3% (domestic box office/worldwide),"3,854 opening theaters/3,854 max. theaters, 3....","$58,250,807",118 minutes,Action,Live Action,Contemporary Fiction
396,"$8,234,926 (14.1% of total gross)",7.03 (domestic box office/biggest weekend),66.6% (domestic box office/worldwide),"2,518 opening theaters/2,767 max. theaters, 6....","$102,488,283",131 minutes,Drama,Live Action,Science Fiction
397,"$15,193,907 (29.3% of total gross)",3.41 (domestic box office/biggest weekend),25.5% (domestic box office/worldwide),"3,086 opening theaters/3,086 max. theaters, 3....","$76,104,384",126 minutes,Adventure,Live Action,Historical Fiction
398,"$14,581,740 (30.7% of total gross)",3.26 (domestic box office/biggest weekend),39.6% (domestic box office/worldwide),"2,774 opening theaters/2,777 max. theaters, 6....","$94,368,477",NA,Action,Live Action,Contemporary Fiction
399,"$14,274,503 (33.3% of total gross)",3.00 (domestic box office/biggest weekend),30.4% (domestic box office/worldwide),"2,504 opening theaters/2,504 max. theaters, 5....","$85,117,153",107 minutes,Thriller/Suspense,Live Action,Contemporary Fiction

In [126]:
chrome_driver.get(s_url)
xpth = "//b[contains(text(),'{0}')]//parent::td//following-sibling::td".format('Type')
info_cell = chrome_driver.find_elements_by_xpath(xpth)
info_cell[0].text

'Science Fiction'

In [26]:
df1.iloc[:,7]

0     https://www.the-numbers.com/movie/Mission-Impo...
1     https://www.the-numbers.com/movie/X-Men-Apocal...
2     https://www.the-numbers.com/movie/Meg-The#tab=...
3     https://www.the-numbers.com/movie/Edge-of-Tomo...
4     https://www.the-numbers.com/movie/Captain-Marv...
                            ...
95    https://www.the-numbers.com/movie/Tomb-Raider-...
96    https://www.the-numbers.com/movie/Bicentennial...
97    https://www.the-numbers.com/movie/King-Arthur-...
98    https://www.the-numbers.com/movie/Volcano#tab=...
99    https://www.the-numbers.com/movie/Devils-Own-T...
Name: 7, Length: 400, dtype: object

In [39]:

df_primary = pandas.read_excel("D:\\Selenium_df_main_400.xlsx")
df_SuperCast = pandas.read_excel("D:\\Selenium_dfSuperCast_400.xlsx")
df_Metrics = pandas.read_excel("D:\\Selenium_df_Metrics_400.xlsx")

In [ ]:

 '''   
Opening Weekend:	$30,180,188 (41.3% of total gross)
Legs:	2.42 (domestic box office/biggest weekend)
Domestic Share:	25.8% (domestic box office/worldwide)
Production Budget:	$263,700,000 (worldwide box office is 1.1 times production budget)
Theater counts:	3,749 opening theaters/3,749 max. theaters, 4.3 weeks average run per theater
Infl. Adj. Dom. BO 	$83,613,639
Genre:	Adventure
Production Method:	Live Action
Creative Type:	Science Fiction
'''

In [153]:
df_primary.head(2)

,0,1,2,3,4,5,6,7
0,100,"$179,000,000","$47,482,519","$181,982,519","Feb 6, 2015",https://www.the-numbers.com/box-office-chart/d...,Jupiter Ascending,https://www.the-numbers.com/movie/Jupiter-Asce...
1,1,"$400,000,000","$858,373,000","$2,797,800,564","Apr 23, 2019",https://www.the-numbers.com/box-office-chart/d...,Avengers: Endgame,https://www.the-numbers.com/movie/Avengers-End...

In [45]:
#df_primary = df_primary.drop(0)
#df_primary = df_primary.drop([0,5,7], axis=1)
#df_primary.columns = ["Production Budget","Domestic Gross","Worldwide Gross","Release Date","Movie"]
df_primary
#df_primary.to_excel("D:\\Selenium_df_Super_Main_400.xlsx")

,Production Budget,Domestic Gross,Worldwide Gross,Release Date,Movie
0,"$178,000,000","$220,159,104","$787,456,552","Jul 16, 2018",Mission: Impossibleâ€”Fallout
1,"$178,000,000","$155,442,489","$542,537,546","May 18, 2016",X-Men: Apocalypse
2,"$178,000,000","$145,443,742","$529,530,715","Aug 9, 2018",The Meg
3,"$178,000,000","$100,206,256","$370,541,256","May 28, 2014",Edge of Tomorrow
4,"$175,000,000","$426,829,839","$1,129,729,839","Mar 6, 2019",Captain Marvel
...,...,...,...,...,...
395,"$90,000,000","$58,250,803","$273,477,501","Mar 6, 2018",Tomb Raider
396,"$90,000,000","$58,220,776","$87,420,776","Dec 17, 1999",Bicentennial Man
397,"$90,000,000","$51,877,963","$203,653,524","Jul 7, 2004",King Arthur
398,"$90,000,000","$47,546,796","$120,100,000","Apr 25, 1997",Volcano
399,"$90,000,000","$42,885,593","$140,900,000","Mar 26, 1997",The Devil's Own

In [44]:
df_SuperCast

,Artist_Group_1,Artist_Group_1_Count,Artist_Group_2,Artist_Group_2_Count,Artist_Group_3,Artist_Group_3_Count,Artist_Group_4,Artist_Group_4_Count,Artist_Group_5,Artist_Group_5_Count,Artist_Group_6,Artist_Group_6_Count
0,Tom Cruise,9,Vanessa Kirby,27.0,Christopher McQuarrie,14.0,NaN,NaN,NaN,NaN,NaN,NaN
1,James McAvoy,3,Oscar Isaac,85.0,Stan Lee,2.0,Bryan Singer,71.0,NaN,NaN,NaN,NaN
2,Jason Statham,6,Sophia Cai Shuya,28.0,Jon Turteltaub,83.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Tom Cruise,2,Bill Paxton,28.0,Anna Botting,4.0,Doug Liman,74.0,NaN,NaN,NaN,NaN
4,Brie Larson,9,Jude Law,37.0,Stan Lee,1.0,Anna Boden,75.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
395,Alicia Vikander,1,Dominic West,33.0,Roar Uthaug,47.0,NaN,NaN,NaN,NaN,NaN,NaN
396,Robin Williams,1,Sam Neill,35.0,Chris Columbus,50.0,NaN,NaN,NaN,NaN,NaN,NaN
397,Clive Owen,3,Stellan SkarsgÃ¥rd,43.0,Antoine Fuqua,45.0,NaN,NaN,NaN,NaN,NaN,NaN
398,Tommy Lee Jones,2,Gaby Hoffmann,70.0,Terry Anzur,45.0,Mick Jackson,58.0,NaN,NaN,NaN,NaN
399,Harrison Ford,2,Margaret Colin,48.0,Alan J. Pakula,30.0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
#df_SuperCast.isnull().sum()
#df_Super_CrewCast = df_SuperCast.drop(['Artist_Group_4','Artist_Group_4_Count','Artist_Group_5','Artist_Group_5_Count','Artist_Group_6','Artist_Group_6_Count'], axis=1) 
df_Super_CrewCast
#df_Super_CrewCast.to_excel("D:\\Selenium_df_Super_CrewCast_400.xlsx")

,Artist_Group_1,Artist_Group_1_Count,Artist_Group_2,Artist_Group_2_Count,Artist_Group_3,Artist_Group_3_Count
0,Tom Cruise,9,Vanessa Kirby,27.0,Christopher McQuarrie,14.0
1,James McAvoy,3,Oscar Isaac,85.0,Stan Lee,2.0
2,Jason Statham,6,Sophia Cai Shuya,28.0,Jon Turteltaub,83.0
3,Tom Cruise,2,Bill Paxton,28.0,Anna Botting,4.0
4,Brie Larson,9,Jude Law,37.0,Stan Lee,1.0
...,...,...,...,...,...,...
395,Alicia Vikander,1,Dominic West,33.0,Roar Uthaug,47.0
396,Robin Williams,1,Sam Neill,35.0,Chris Columbus,50.0
397,Clive Owen,3,Stellan SkarsgÃ¥rd,43.0,Antoine Fuqua,45.0
398,Tommy Lee Jones,2,Gaby Hoffmann,70.0,Terry Anzur,45.0
399,Harrison Ford,2,Margaret Colin,48.0,Alan J. Pakula,30.0

In [51]:
df_Metrics

,Unnamed: 0,Opening,Legs,Domestic Share,Theater counts,Infl. Adj. Dom. BO,Running Time,Genre,Method,Type
0,0,"$61,236,534 (27.8% of total gross)",3.60 (domestic box office/biggest weekend),28.0% (domestic box office/worldwide),"4,386 opening theaters/4,395 max. theaters, 6....","$220,159,104",147 minutes,Action,Live Action,Contemporary Fiction
1,1,"$65,769,562 (42.3% of total gross)",2.36 (domestic box office/biggest weekend),28.7% (domestic box office/worldwide),"4,150 opening theaters/4,153 max. theaters, 4....","$163,708,786",136 minutes,Action,Live Action,Super Hero
2,2,"$45,402,195 (31.2% of total gross)",3.20 (domestic box office/biggest weekend),27.5% (domestic box office/worldwide),"4,118 opening theaters/4,118 max. theaters, 6....","$145,443,746",113 minutes,Action,Live Action,Science Fiction
3,3,"$28,760,246 (28.7% of total gross)",3.48 (domestic box office/biggest weekend),27.0% (domestic box office/worldwide),"3,490 opening theaters/3,505 max. theaters, 5....","$111,735,489",136 minutes,Action,Live Action,Science Fiction
4,4,"$153,433,423 (35.9% of total gross)",2.78 (domestic box office/biggest weekend),37.8% (domestic box office/worldwide),"4,310 opening theaters/4,310 max. theaters, 7....","$426,829,839",124 minutes,Action,Animation/Live Action,Super Hero
...,...,...,...,...,...,...,...,...,...,...
395,395,"$23,633,317 (40.6% of total gross)",2.46 (domestic box office/biggest weekend),21.3% (domestic box office/worldwide),"3,854 opening theaters/3,854 max. theaters, 3....","$58,250,807",118 minutes,Action,Live Action,Contemporary Fiction
396,396,"$8,234,926 (14.1% of total gross)",7.03 (domestic box office/biggest weekend),66.6% (domestic box office/worldwide),"2,518 opening theaters/2,767 max. theaters, 6....","$102,488,283",131 minutes,Drama,Live Action,Science Fiction
397,397,"$15,193,907 (29.3% of total gross)",3.41 (domestic box office/biggest weekend),25.5% (domestic box office/worldwide),"3,086 opening theaters/3,086 max. theaters, 3....","$76,104,384",126 minutes,Adventure,Live Action,Historical Fiction
398,398,"$14,581,740 (30.7% of total gross)",3.26 (domestic box office/biggest weekend),39.6% (domestic box office/worldwide),"2,774 opening theaters/2,777 max. theaters, 6....","$94,368,477",NaN,Action,Live Action,Contemporary Fiction
399,399,"$14,274,503 (33.3% of total gross)",3.00 (domestic box office/biggest weekend),30.4% (domestic box office/worldwide),"2,504 opening theaters/2,504 max. theaters, 5....","$85,117,153",107 minutes,Thriller/Suspense,Live Action,Contemporary Fiction

In [52]:
df_mtrx = df_Metrics.copy()
df_mtrx.head(2)

,Unnamed: 0,Opening,Legs,Domestic Share,Theater counts,Infl. Adj. Dom. BO,Running Time,Genre,Method,Type
0,0,"$61,236,534 (27.8% of total gross)",3.60 (domestic box office/biggest weekend),28.0% (domestic box office/worldwide),"4,386 opening theaters/4,395 max. theaters, 6....","$220,159,104",147 minutes,Action,Live Action,Contemporary Fiction
1,1,"$65,769,562 (42.3% of total gross)",2.36 (domestic box office/biggest weekend),28.7% (domestic box office/worldwide),"4,150 opening theaters/4,153 max. theaters, 4....","$163,708,786",136 minutes,Action,Live Action,Super Hero

In [55]:
#df_mtrx['Legs2'] = df_mtrx['Legs'].map(lambda x: str(x)[str(x).index('('):str(x).index(')')])
#df_mtrx = df_mtrx.drop(['Legs2'],axis=1)
#df_mtrx['Legs'] = df_mtrx['Legs'].apply(lambda x:(str(x).split())[0])
#df_mtrx['Domestic Share'] = df_mtrx['Domestic Share'].apply(lambda x: (str(x).split())[0].replace('%',''))
#df_mtrx['Running Time'] = df_mtrx['Running Time'].apply(lambda x: str(x).replace('minutes',''))
#df_mtrx['Opening'] = df_mtrx['Opening'].apply(lambda x: (str(x).split())[0])
#df_mtrx['Theater counts'] = df_mtrx['Theater counts'].apply(lambda x: (str(x).split())[0])

#df_Super_Metrics = df_mtrx.iloc[:,1:]
df_Super_Metrics
#df_Super_Metrics.to_excel("D:\\Selenium_df_Super_Metrics_400.xlsx")

,Opening,Legs,Domestic Share,Theater counts,Infl. Adj. Dom. BO,Running Time,Genre,Method,Type
0,"$61,236,534",3.60,28.0,"4,386","$220,159,104",147,Action,Live Action,Contemporary Fiction
1,"$65,769,562",2.36,28.7,"4,150","$163,708,786",136,Action,Live Action,Super Hero
2,"$45,402,195",3.20,27.5,"4,118","$145,443,746",113,Action,Live Action,Science Fiction
3,"$28,760,246",3.48,27.0,"3,490","$111,735,489",136,Action,Live Action,Science Fiction
4,"$153,433,423",2.78,37.8,"4,310","$426,829,839",124,Action,Animation/Live Action,Super Hero
...,...,...,...,...,...,...,...,...,...
395,"$23,633,317",2.46,21.3,"3,854","$58,250,807",118,Action,Live Action,Contemporary Fiction
396,"$8,234,926",7.03,66.6,"2,518","$102,488,283",131,Drama,Live Action,Science Fiction
397,"$15,193,907",3.41,25.5,"3,086","$76,104,384",126,Adventure,Live Action,Historical Fiction
398,"$14,581,740",3.26,39.6,"2,774","$94,368,477",nan,Action,Live Action,Contemporary Fiction
399,"$14,274,503",3.00,30.4,"2,504","$85,117,153",107,Thriller/Suspense,Live Action,Contemporary Fiction

In [64]:
#df_Movie_Master = pandas.concat([df_Super_Metrics.reset_index(drop=True),df_Super_CrewCast.reset_index(drop=True)],axis=1)
#df_Movie_Master = pandas.concat([df_primary.reset_index(drop=True),df_Movie_Master.reset_index(drop=True)],axis=1)
df_Movie_Master
#df_Movie_Master.to_excel("D:\\Selenium_df_Movie_Master_400.xlsx")

,Production Budget,Domestic Gross,Worldwide Gross,Release Date,Movie,Opening,Legs,Domestic Share,Theater counts,Infl. Adj. Dom. BO,Running Time,Genre,Method,Type,Artist_Group_1,Artist_Group_1_Count,Artist_Group_2,Artist_Group_2_Count,Artist_Group_3,Artist_Group_3_Count
0,"$178,000,000","$220,159,104","$787,456,552","Jul 16, 2018",Mission: Impossibleâ€”Fallout,"$61,236,534",3.60,28.0,"4,386","$220,159,104",147,Action,Live Action,Contemporary Fiction,Tom Cruise,9,Vanessa Kirby,27.0,Christopher McQuarrie,14.0
1,"$178,000,000","$155,442,489","$542,537,546","May 18, 2016",X-Men: Apocalypse,"$65,769,562",2.36,28.7,"4,150","$163,708,786",136,Action,Live Action,Super Hero,James McAvoy,3,Oscar Isaac,85.0,Stan Lee,2.0
2,"$178,000,000","$145,443,742","$529,530,715","Aug 9, 2018",The Meg,"$45,402,195",3.20,27.5,"4,118","$145,443,746",113,Action,Live Action,Science Fiction,Jason Statham,6,Sophia Cai Shuya,28.0,Jon Turteltaub,83.0
3,"$178,000,000","$100,206,256","$370,541,256","May 28, 2014",Edge of Tomorrow,"$28,760,246",3.48,27.0,"3,490","$111,735,489",136,Action,Live Action,Science Fiction,Tom Cruise,2,Bill Paxton,28.0,Anna Botting,4.0
4,"$175,000,000","$426,829,839","$1,129,729,839","Mar 6, 2019",Captain Marvel,"$153,433,423",2.78,37.8,"4,310","$426,829,839",124,Action,Animation/Live Action,Super Hero,Brie Larson,9,Jude Law,37.0,Stan Lee,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,"$90,000,000","$58,250,803","$273,477,501","Mar 6, 2018",Tomb Raider,"$23,633,317",2.46,21.3,"3,854","$58,250,807",118,Action,Live Action,Contemporary Fiction,Alicia Vikander,1,Dominic West,33.0,Roar Uthaug,47.0
396,"$90,000,000","$58,220,776","$87,420,776","Dec 17, 1999",Bicentennial Man,"$8,234,926",7.03,66.6,"2,518","$102,488,283",131,Drama,Live Action,Science Fiction,Robin Williams,1,Sam Neill,35.0,Chris Columbus,50.0
397,"$90,000,000","$51,877,963","$203,653,524","Jul 7, 2004",King Arthur,"$15,193,907",3.41,25.5,"3,086","$76,104,384",126,Adventure,Live Action,Historical Fiction,Clive Owen,3,Stellan SkarsgÃ¥rd,43.0,Antoine Fuqua,45.0
398,"$90,000,000","$47,546,796","$120,100,000","Apr 25, 1997",Volcano,"$14,581,740",3.26,39.6,"2,774","$94,368,477",nan,Action,Live Action,Contemporary Fiction,Tommy Lee Jones,2,Gaby Hoffmann,70.0,Terry Anzur,45.0
399,"$90,000,000","$42,885,593","$140,900,000","Mar 26, 1997",The Devil's Own,"$14,274,503",3.00,30.4,"2,504","$85,117,153",107,Thriller/Suspense,Live Action,Contemporary Fiction,Harrison Ford,2,Margaret Colin,48.0,Alan J. Pakula,30.0

In [62]:
df_Movie_Master_Old = pandas.read_excel("D:\\Datasets_Phase_1\\Selenium_df_Movie_Master.xlsx")
df_Movie_Master_Old = df_Movie_Master_Old.iloc[:,1:]
df_Movie_Master_Old

,Production Budget,Domestic Gross,Worldwide Gross,Release Date,Movie,Opening,Legs,Domestic Share,Theater counts,Infl. Adj. Dom. BO,Running Time,Genre,Method,Type,Artist_Group_1,Artist_Group_1_Count,Artist_Group_2,Artist_Group_2_Count,Artist_Group_3,Artist_Group_3_Count
0,"$400,000,000","$858,373,000","$2,797,800,564","Apr 23, 2019",Avengers: Endgame,"$357,115,007",2.40,30.7,"4,662","$858,373,000",181.0,Action,Animation/Live Action,Super Hero,"Robert Downey, Jr.",32,Katherine Langford,25,Stan Lee,5.0
1,"$379,000,000","$241,063,875","$1,045,663,875","May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$90,151,958",2.67,23.1,"4,155","$276,934,662",136.0,Adventure,Live Action,Fantasy,Johnny Depp,4,Kevin McNally,46,Rob Marshall,56.0
2,"$365,000,000","$459,005,868","$1,403,013,963","Apr 22, 2015",Avengers: Age of Ultron,"$191,271,109",2.40,32.7,"4,276","$496,031,246",141.0,Action,Animation/Live Action,Super Hero,James Spader,1,"Robert Downey, Jr.",9,Don Cheadle,44.0
3,"$306,000,000","$936,662,225","$2,068,223,624","Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$247,966,675",3.78,45.3,"4,134","$1,006,872,847",136.0,Adventure,Animation/Live Action,Science Fiction,Adam Driver,3,Harrison Ford,36,J.J. Abrams,58.0
4,"$300,000,000","$678,815,482","$2,048,359,754","Apr 25, 2018",Avengers: Infinity War,"$257,698,183",2.63,33.1,"4,474","$678,815,482",156.0,Action,Animation/Live Action,Super Hero,"Robert Downey, Jr.",23,Anthony Mackie,21,Samuel L. Jackson,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"$180,000,000","$140,125,968","$256,585,882","Aug 10, 2007",Rush Hour 3,"$49,100,158",2.85,54.6,"3,778","$185,544,700",91.0,Action,Live Action,Contemporary Fiction,Chris Tucker,2,Hiroyuki Sanada,7,Dana Ivey,2.0
96,"$180,000,000","$126,643,061","$348,902,025","Jun 27, 2016",The Legend of Tarzan,"$38,527,856",3.29,36.3,"3,561","$133,377,834",110.0,Adventure,Live Action,Historical Fiction,Alexander SkarsgÃ¥rd,2,Samuel L. Jackson,56,David Yates,71.0
97,"$180,000,000","$73,864,507","$180,047,784","Nov 23, 2011",Hugo,"$11,364,505",6.50,41.0,"1,277","$84,753,719",126.0,Adventure,Animation/Live Action,Fantasy,Ben Kingsley,5,Ray Winstone,29,Martin Scorsese,18.0
98,"$180,000,000","$40,479,370","$215,098,356","Jul 20, 2017",Valerian and the City of a Thousand Planets,"$17,007,624",2.38,18.8,"3,553","$41,111,153",129.0,Adventure,Animation/Live Action,Science Fiction,Dane DeHaan,2,Clive Owen,104,Mathieu Kassovitz,1.0
99,"$179,000,000","$47,482,519","$181,982,519","Feb 6, 2015",Jupiter Ascending,"$18,372,372",2.58,26.1,"3,885","$51,312,658",127.0,Action,Live Action,Science Fiction,Channing Tatum,2,Sean Bean,49,The Wachowskis*,57.0

In [65]:
df_Movie_Master_500 = pandas.concat([df_Movie_Master_Old.reset_index(drop=True),df_Movie_Master.reset_index(drop=True)],axis=0)
df_Movie_Master_500

,Production Budget,Domestic Gross,Worldwide Gross,Release Date,Movie,Opening,Legs,Domestic Share,Theater counts,Infl. Adj. Dom. BO,Running Time,Genre,Method,Type,Artist_Group_1,Artist_Group_1_Count,Artist_Group_2,Artist_Group_2_Count,Artist_Group_3,Artist_Group_3_Count
0,"$400,000,000","$858,373,000","$2,797,800,564","Apr 23, 2019",Avengers: Endgame,"$357,115,007",2.4,30.7,"4,662","$858,373,000",181,Action,Animation/Live Action,Super Hero,"Robert Downey, Jr.",32,Katherine Langford,25.0,Stan Lee,5.0
1,"$379,000,000","$241,063,875","$1,045,663,875","May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$90,151,958",2.67,23.1,"4,155","$276,934,662",136,Adventure,Live Action,Fantasy,Johnny Depp,4,Kevin McNally,46.0,Rob Marshall,56.0
2,"$365,000,000","$459,005,868","$1,403,013,963","Apr 22, 2015",Avengers: Age of Ultron,"$191,271,109",2.4,32.7,"4,276","$496,031,246",141,Action,Animation/Live Action,Super Hero,James Spader,1,"Robert Downey, Jr.",9.0,Don Cheadle,44.0
3,"$306,000,000","$936,662,225","$2,068,223,624","Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$247,966,675",3.78,45.3,"4,134","$1,006,872,847",136,Adventure,Animation/Live Action,Science Fiction,Adam Driver,3,Harrison Ford,36.0,J.J. Abrams,58.0
4,"$300,000,000","$678,815,482","$2,048,359,754","Apr 25, 2018",Avengers: Infinity War,"$257,698,183",2.63,33.1,"4,474","$678,815,482",156,Action,Animation/Live Action,Super Hero,"Robert Downey, Jr.",23,Anthony Mackie,21.0,Samuel L. Jackson,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,"$90,000,000","$58,250,803","$273,477,501","Mar 6, 2018",Tomb Raider,"$23,633,317",2.46,21.3,"3,854","$58,250,807",118,Action,Live Action,Contemporary Fiction,Alicia Vikander,1,Dominic West,33.0,Roar Uthaug,47.0
396,"$90,000,000","$58,220,776","$87,420,776","Dec 17, 1999",Bicentennial Man,"$8,234,926",7.03,66.6,"2,518","$102,488,283",131,Drama,Live Action,Science Fiction,Robin Williams,1,Sam Neill,35.0,Chris Columbus,50.0
397,"$90,000,000","$51,877,963","$203,653,524","Jul 7, 2004",King Arthur,"$15,193,907",3.41,25.5,"3,086","$76,104,384",126,Adventure,Live Action,Historical Fiction,Clive Owen,3,Stellan SkarsgÃ¥rd,43.0,Antoine Fuqua,45.0
398,"$90,000,000","$47,546,796","$120,100,000","Apr 25, 1997",Volcano,"$14,581,740",3.26,39.6,"2,774","$94,368,477",nan,Action,Live Action,Contemporary Fiction,Tommy Lee Jones,2,Gaby Hoffmann,70.0,Terry Anzur,45.0
399,"$90,000,000","$42,885,593","$140,900,000","Mar 26, 1997",The Devil's Own,"$14,274,503",3.00,30.4,"2,504","$85,117,153",107,Thriller/Suspense,Live Action,Contemporary Fiction,Harrison Ford,2,Margaret Colin,48.0,Alan J. Pakula,30.0

In [66]:
# MOTHER OF ALL MOVIE PREDICTOR DATABASES....
#df_Movie_Master_500.to_excel("D:\\Selenium_df_Movie_Master_500.xlsx")
#df_Movie_Master_500.to_csv("D:\\Selenium_df_Movie_Master_500.csv")